@media screen and (max-width: 800px){
 
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    
    .section__pic-container{
        display:none
    }
    #profile{
        display:block;
        height:40vh;
    }
    .about-containers{
        display:block;
        
    }
    .section-container-t{
        display:flex;
        
    }
    .details-container{
        padding:1rem;
        text-align: left;
        margin: 1rem;
    }
    #about{
        height:130vh;
    }
    #about .section-container{
       display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .about-pic{
        height:100px;
        width:100px;
    }
    .icon-arrow-u, .icon-arrow-d{
        display:none;
    }
    #experience{
        height:130vh;
    }
    #projects{
        height:100vh;
    }
   
    #contact{
        gap:0.5rem;
    }
    .contact-info-upper-container, .contact-info-container{
        display:block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #container{
        display:flex;
        padding:0;
        margin: 0rem;
    }
   
    .nav-links-container {
        display:none;
    }
    #sidebar{
        display:none;
        padding:0;
        margin:0;
    }
    section{
        padding:0;
    }
    footer{
        margin:0.5rem;
    }
}
@media screen and (max-width:1200px){
    #sidebar{
        display:none;
    }
    #side-content{
        display:none;
    }
    #container{
        grid-template-columns: 1fr;
        padding:1rem;
    }
    
}
@media screen and (max-width:1600px){
    .later{
        display:none;
    }
    #side-content{
        width:300px;
    }
    
}

